$bg_color: #F3F3F3;
$text_color: #000000;
$border_color: #DCDCDC;
$focus_color: rgba(0, 123, 255, 0.25);
$placeholder_color: #565656;
$success_color: #3FAB5F;
$warning_color: #DD4C4F;
$warning_text_color: #FFE1DE;
$button2_color: #53A4F5;
$button1_color: #0079FB;
$shadow_color: rgba(0, 0, 0, 0.6);
$great_bg1_color: #45C6A0;
$great_bg2_color: #ffffff;
$great_button_color: #EAB413;
$great_button_text: #FFE99D;

$time: 0.2s;